/* Estilo navbar */

.navbar-brand img {
    object-fit: cover;
    width: 150px;
    height: 60px;
}

#sair {
    margin-left: 10px;
}


/* Estilo modals */

.modal-content {
    background-color: #FFBA5C !important;
    padding: 10px;
}

.modal-body button {
    width: 100%;
}

.modal form {
    text-align: center;
    padding-right: 40px;
    padding-left: 40px;
}

.modal small {
    display: block;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #343F4B;
}

.wallpaper-area {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
    background-color: #5A6978;
}

.main-area {
    position: relative;
    color: white;
    width: 100%;
    height: 100%;
    background-color: #5A6978;
    padding: 20px;
}

#wallpaper {
    object-fit: cover;
    width: 100%;
    height: 601px;
    text-align: center;
}

.main-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.col-xl-4 .card {
    background-color: #FFBA5C;
    color: #343F4B;
    text-align: center;
}

.col-xl-8 .card {
    background-color: transparent;
    border: 3px solid #FFBA5C;
    border-radius: 10px;
    color: #FFFFFF;
}

.table {
    margin-bottom: 0px !important;
}

.dropdown-toggle,
.dropdown-toggle:link,
.dropdown-toggle:visited,
.dropdown-toggle:hover,
.dropdown-toggle:active {
    color: white;
}

#texto-principal {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
}

.botao-central {
    background-color: #FFBA5C;
    border-radius: 5px;
    width: 192px;
    height: 50px;
}

footer {
    background-color: #FFBA5C;
    padding: 20px;
}

.footer-text {
    padding-top: 30px;
}

#footer-logo {
    width: 340px;
    height: 170px;
    border-radius: 10px;
    padding-top: 0px;
}

ul {
    list-style-type: none;
    padding-left: 0px;
    font-weight: 400;
}

.row {
    margin-right: 0px !important;
    margin-bottom: 10px;
}

[v-cloak] {
    display: none;
}